<h1>Welcome to the Document Upload System</h1>

    <div class="divisions">        
        <img src="assets/img1.png" alt="" height="350px" width="450px">
        <div class="one">
            <h2>1. Input Your Notes</h2>
            <p>Easily add your notes the way you prefer! You can: <br>
                1. Type Directly: Jot down your thoughts or paste content right into the editor. <br>
                2. Upload Files: Upload documents in formats like PDF, Word (DOCX), or plain text files. <br>
                3. Drag and Drop: Simply drag your files into the upload area for quick processing.</p>
        </div>
    </div>
    <div class="divisions"> 
        <div class="two">
            <h2>2. Students Condense Lecture Notes</h2> 
            <p>Students upload lengthy lecture notes to the 
                AI Note Summarizer. The tool quickly extracts key points and concepts, creating a concise study guide. 
                This enables more efficient review and improved retention of important information.</p>
        </div>  
        <img src="assets/img2.png" alt="" height="350px" width="450px">       
    </div>
    <div class="divisions">
        <img src="assets/img3.png" alt="" height="320px" width="450px">
        <div class="three">
            <h2>3. Export and Share</h2>
            <p>Once your notes are summarized, you can: <br>
                 1. Export: Download your summary in formats like PDF, PNG, or Text. <br>
                 2. Share: Instantly get a unique URL to share your notes with others. <br>
                 3. Save: Keep your notes organized by saving them directly to your device.</p>
        </div>
    </div>

